

/* Ticket Seat Selection Css File */

.seat-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  
  .seat {
    width: 40px;
    height: 40px;
    background-color: #fffefe;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .selected {
    background-color: #f39c12;
  }
  
  
  .selected-seats {
    margin-top: 20px;
  }
  
  .selected-seats p {
    font-weight: bold;
  }
  
  .seat.disabled {
    background-color: gray;
    cursor: not-allowed;
  }

  